body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-text {
    font-size: 1.1rem;
  }
  
  button {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  #addToCartButton {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  #addToCartButton:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  #cartItems {
    margin-bottom: 20px;
  }
  
  hr {
    border-top: 1px solid #ddd;
  }
  